
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-4">
        <button type="button" (click)="newDragon()" class="btn btn-outline-success">Cadastrar Novo Dragão</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-2-rem" *ngFor="let d of dragons">
        <div class="card" >
            <div class="card-body text-center">
              <h3 class="bd-title"><small class="text-muted">{{d?.name}}</small></h3>
              <p class="card-text">Tipo {{d?.type}}.</p>
              <p class="card-text">Criado em {{d?.createdAt | date:"dd/MM/yy"}}.</p>
              <a [routerLink]="['/detail',d?.id]" class="card-link">Detalhe</a>
            </div>
          </div>
    </div>
  </div>
  
</div>
